body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.top-menu-div {
    background-color: #ffffff;
    color: #888888;
}

.img-circle {
    border-radius: 50%;
}

.dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    display: block;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
}

.nav-header {
    padding: 15px 25px;
    background-color: #2f4050;
    background-image: url(../img/header-profile.png);
}

.block {
    display: block !important;
}

.nav-header a {
    color: #DFE4ED;
}

a {
    cursor: pointer;
    color: #a7b1c2;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.m-t-xs {
    margin-top: 5px;
}

li.active {
    width: inherit;
    border-left: 2px solid #19aa8d;
    background: #293846;
    color: #ffffff;
}

li {
	position: relative;
    display: block;
	text-align: -webkit-match-parent;
	font-weight: 600;
    padding: 14px 20px -1px 25px;
    color: #a7b1c2;
}

a:hover {
    color: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #a7b1c2;
}

.navbar-form-custom, .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 40px;
    margin: 0;
    z-index: 2000;
    margin-bottom: 0;
    padding-top: 20px;
}

.navbar-form-custom {
    float: left;
    height: 30px;
    padding: 0;
    width: 200px;
    display: block;
}

.navbar-header {
    float: left;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn {
    border-radius: 3px;
}

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.navbar-right {
    float: right!important;
 }

 .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    right: 0;
}

.breadcrumb {
    background-color: #f3f3f4;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb-active {
	width: inherit;
    color: #888888;
}

h2 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.breadcrumb>li {
    display: inline-block;
}

.wrapper-content {
    padding: 20px 10px 40px;
}

.wrapper {
    padding: 0 20px;
}

.breadcrumbDiv {
	background-color: #f3f3f4;
}

.ibox-main-div {
    padding-top: 10px;
    width: 98%;
    height: 100%;
}

.ibox-content {
    background-color: #f3f3f4;
    height: -webkit-fill-available;
}

.media-body {
    font-size: 12px;
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    overflow: hidden;
    zoom: 1;
}

.dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}


img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

img {
	vertical-align: middle;
    border: 0;
}

.dropdown-messages, .dropdown-alerts {
    margin-left: auto;
    margin-top: 0;
    margin-left: 5px;
    width: 310px;
    min-width: 0;
    padding: 10px 10px 10px 10px;
}

.category-group {
	 margin-left: 120px;
}

.sub-category-group {
	 margin-left: 120px;
}

.btn {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
	background-color: #1ab394;
	border-color: #1ab394;
}

.btn-success:hover {
    color: #fff;
    background-color: #23c6c8;
    border-color: #23c6c8;
}